{% extends '../_base.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#newChapterModal">Add New Lesson</button>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>Lesson Order #</th>
            <th>Chapter Order #</th>
            <th>Chapter ID</th>
            <th>Name</th>
            <th>Content</th>
            <th>Read</th>
            <th>Created Date</th>
          </tr>
        </thead>
        <tbody>
          {% for lesson in lessons %}
            <tr>
              <td>{{lesson.lesson_order_number}}</td>
              <td>{{lesson.chapter_order_number}}</td>
              <td>{{lesson.chapter_id}}</td>
              <td>{{lesson.name}}</td>
              <td><a href="/lessons/{{lesson.id}}">Link</a></td>
              <td>{{lesson.read}}</td>
              <td>{{lesson.created_at|date('Y-m-d')}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

<!-- modal -->
  <div class="modal fade" id="newChapterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add new chapter</h4>
        </div>
        <div class="modal-body">
          <form action="/admin/chapters" method="POST" id="add-chapter-form">
            <div class="form-group">
              <input type="number" name="orderNumber" class="form-control" placeholder="Order Number" required>
            </div>
            <div class="form-group">
              <input type="text" name="name" class="form-control" placeholder="Name" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="add-user-button">Add Chapter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
