<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul id="sidebar-chapters" class="nav navbar-nav side-nav">
    {% if user %}
      {% if user.active %}
        <li class="sidebar-search">
          <form method="GET" action="/search">
            <div class="input-group">
              <input type="text" class="form-control" name="term" placeholder="Search...">
              <span class="input-group-btn">
                <button class="btn btn-primary side-btn" type="submit"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
        </li>
        {% if sortedChapters %}
          <br>
          {% for chapter in sortedChapters %}
          <li>
            <a href="javascript:;" class="sidebar-chapter-name" data-toggle="collapse" data-target="#sidebar-chapter-{{loop.index}}" data-status="{{chapter.chapterRead}}" aria-expanded="true">{{chapter.chapterName}} <i class="fa fa-fw fa-caret-down"></i></a>
              {% if chapter.lessons %}
                <ul id="sidebar-chapter-{{loop.index}}" class="lesson-list collapse" aria-expanded="true">
                  {% for lesson in chapter.lessons %}
                    {% if lesson.lessonActive %}
                      <li class="side-nav-lessons">
                        <a href="/lessons/{{lesson.lessonID}}">
                          {{lesson.lessonName}}
                          {% if lesson.lessonRead %}
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-check" data-lesson-read="true"></i></a>
                          {% endif %}
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endif %}
  </ul>
</div>
