<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Textbook LMS{% block title %}{% endblock %}</title>
    {% endif %}
    <!-- stylesheets -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <div class="container">
      {% include "./partials/nav.html" %}
      {% include "./partials/flash.html" %}
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              {% block content %}
              {% endblock %}
            </div>
            <div class="col-md-3 col-md-offset-1">
              {% include "./partials/side.html" %}
            </div>
          </div>
        </div>
      {% include './partials/footer.html' %}
    </div>

    <!-- scripts -->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script ype="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
