{% extends '_base.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-md-12">
      <!-- content -->
      <p>{{singleChapter.content}}</p>
      <!-- mark read/unread -->
      {% if singleChapter.read %}
        <a href="/chapter/{{singleChapter.id}}/update?read=false" type="button" class="btn btn-default">Mark as Unread</a>
      {% elseif !singleChapter.read %}
        <a href="/chapter/{{singleChapter.id}}/update?read=true" type="button" class="btn btn-default">Mark as Read</a>
      {% endif %}
      {% if previousChapter.length %}
        <!-- previous chapter button -->
        <a href="/chapter/{{previousChapter[0].id}}" type="button" class="btn btn-primary">« Prev Chapter</a>
      {% endif %}
      {% if nextChapter.length %}
        <!-- next chapter button -->
        <a href="/chapter/{{nextChapter[0].id}}" type="button" class="btn btn-primary">Next Chapter »</a>
      {% endif %}
    </div>
  </div>

{% endblock %}