{% extends '_base.html' %}

{% block title %}{% endblock %}


{% block content %}

  {% if user.admin %}
    <div class="row">
      <div class="col-md-12">
        <h2>You are an admin.</h2>
        <br>
        <section>
          <p>Choose a resource:</p>
          <ul>
            <li><a href="/admin/users">Users</a></li>
            <li><a href="/admin/chapters">Chapters</a></li>
            <li><a href="/admin/lessons">Lessons</a></li>
          </ul>
        </section>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col-md-12">
        <h2>Course Status:</h2>
        <div class="progress custom-progress-bar">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{completed}}" aria-valuemin="0" aria-valuemax="100" style="width:{{completed}}%"></div>
        </div>
        <p class="completed">{{completed}}% Complete</p>
      </div>
    </div>
  {% endif %}

{% endblock %}
