{% extends '_base.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-md-12">
      <!-- lesson content -->
      <p>{{singleLesson.content}}</p>
      <!-- mark read/unread -->
      <form action="/lessons" method="POST">
        <input type="hidden" name="chapter" value="{{singleLesson.chapter_id}}">
        <input type="hidden" name="lesson" value="{{singleLesson.id}}">
        {% if singleLesson.read %}
          <input type="hidden" name="read" value="false">
          <button type="submit" class="btn btn-default">Mark as Unread</button>
        {% elseif !singleLesson.read %}
          <input type="hidden" name="read" value="true">
          <button type="submit" class="btn btn-default">Mark as Read</button>
        {% endif %}
      {% if previousLesson.length %}
        <!-- previous lesson button -->
        <a href="/lessons/{{previousLesson[0].id}}" type="button" class="btn btn-primary">« Prev Lesson</a>
      {% endif %}
      {% if nextLesson.length %}
        <!-- next lesson button -->
        <a href="/lessons/{{nextLesson[0].id}}" type="button" class="btn btn-primary">Next Lesson »</a>
      {% endif %}
    </div>
  </div>

{% endblock %}