{% extends '_base.html' %}

{% block title %}{% endblock %}


{% block content %}

  <h3>Account Info:</h3>

  <br>

  <dl class="dl-horizontal">
    <dt>Email</dt>
    {% if user.email %}
      <dd><a href="mailto:{{user.email}}">{{user.email}}</a></dd>
    {% endif %}
    <dt>GitHub Username</dt>
    <dd><a href="https://github.com/{{user.username}}">{{user.github_username}}</a></dd>
    <dt>GitHub Display Name</dt>
    <dd>{{user.github_display_name}}</dd>
    <dt>Role</dt>
    {% if user.admin %}
      <dd>admin</dd>
    {% else %}
      <dd>user</dd>
    {% endif %}
    <dt>Avatar URL</dt>
    <dd><a href="{{user.github_avatar}}">{{user.github_avatar}}</a></dd>
  </dl>

{% endblock %}
