/* globals */

body {
  padding-top: 70px;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

footer {
  margin: 50px 0;
}

.badge {
  background-color: inherit;
  color: inherit;
}

/* dashboard */

.completed {
  font-style: italic;
}

.custom-progress-bar {
  height: 30px;
  margin-bottom: 2px;
}

/* sidebar */

.active-chapter a:link,
.active-chapter a:visited,
.active-chapter a:hover,
.active-chapter a:active {
  color: #fff;
}