/* globals */

body {
  padding-top: 70px;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

footer {
  margin: 50px 0;
}

.badge {
  background-color: inherit;
  color: inherit;
}